<ion-content>
  <ion-card class="Titulo">
  <div class="caja">
    <div>
      <h2 class="title">Smart Watch</h2>
    </div>
    <div>
      <ion-icon name="sparkles-sharp"></ion-icon>
    </div>
  </div>
  </ion-card>



  <ion-card class="reloj">
  <div class="textobienvenida">
    <ion-item>
      <ion-input label="Hey hola son las ..."></ion-input>
    </ion-item>
  </div>
    <div class="clock">
      <h1>{{ currentTime }}</h1>
    </div>

  </ion-card>
    


  
  <ion-card class="padre">
   
    <ion-card>
      <img alt="" [src]="imagenParaMostrar" *ngIf="imagenParaMostrar" />
    </ion-card>


    <ion-card class="hijo">
      <ion-card-header class="textotitulo">
        <ion-item>
          <ion-input
          
            [clearOnEdit]="true"
            placeholder="Como se llama tu recuerdo 🤩 ?"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
          [clearOnEdit]="true"
          placeholder="Cuando Paso tu recuerdo 🫣 ?"
          ></ion-input>
        </ion-item>
      </ion-card-header>
   
    </ion-card>
  </ion-card>
    


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon (click)="getPicture()" name="document"></ion-icon>
        
      </ion-fab-button>  
    </ion-fab-list>
  </ion-fab>

  
</ion-content>