.Titulo{
  background-image: linear-gradient(to bottom, #f080ff 0%, #4dacff 100%, #051b72 100%);
}
.title{
  color: black;
}
.caja{
  display : flex;
  flex-direction : row;
}
.clock {
  display: flex;
  justify-content: right;

  
}
.textotitulo{
  font-size: 30px
}
.hijo{
  background-image: linear-gradient(to bottom, #f080ff 0%, #4dacff 100%, #051b72 100%);
}

.padre{

}
